<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.somersault.cloud.lib">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>
        <activity android:name=".core.slowmethod.SlowMethodActivity"/>
        <activity android:name=".core.log.LogcatActivity"
            android:theme="@style/SCTheme"
            />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.logcat_fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logcat_file_path" />
        </provider>
    </application>
</manifest>